{
  "printWidth": 120,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "jsxBracketSameLine": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "trailingComma": "none",
  "semi": true,
  "tabWidth": 2
}
